{% extends 'base.html' %}

{% block title %}User Registration{% endblock %}

{% block content %}
<div class="col-lg-6 offset-3">
    <div class="box">
        <h3 class="heading">New account</h3>
        <p class="lead">Not our registered yet?</p>
<p class="text-muted">If you have any questions, please feel free to <a href="#">contact us</a>,
    our customer service center is working for you 24/7.</p>
{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="first_name">First Name:</label><br>
        <input type="text" id="first_name" name="first_name" required><br><br>

        <label for="last_name">Last Name:</label><br>
        <input type="text" id="last_name" name="last_name" required><br><br>

        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required><br><br>

        <label for="password1">Password:</label><br>
        <input type="password" id="password1" name="password1" required><br><br>

        <label for="password2">Confirm Password:</label><br>
        <input type="password" id="password2" name="password2" required><br><br>

        <label for="gender">Gender:</label><br>
        <input type="radio" id="male" name="gender" value="male">
        <label for="male">Male</label><br>
        <input type="radio" id="female" name="gender" value="female">
        <label for="female">Female</label><br><br>

        <label for="date_of_birth">Date of Birth:</label><br>
        <input type="date" id="date_of_birth" name="date_of_birth" required><br><br>

        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name"><br><br>

        <label for="phone">Phone:</label><br>
        <input type="tel" id="phone" name="phone"><br><br>

        <label for="education">Education:</label><br>
        <textarea id="education" name="education"></textarea><br><br>

        <label for="profile_picture">Profile Picture:</label><br>
        <input type="file" id="profile_picture" name="profile_picture"><br><br>

        <div class="text-center">
            <button type="submit" class="btn btn-success"><i class="fa fa-user-md"></i> Register
            </button>
        </div>
</form>
</div>
</div>

{% endblock %}

